h2 {
     font-family: Homemade Apple;
 }

.navbar-brand {
    font-family: Homemade Apple;
}

.navbar {
    background-color: green;
}

#clienttext {
    color: white;
    font-size: 1.25em;
}

.btn {
    background-color: green !important;
}

.apple {
    font-family: Homemade Apple;
}

body {
  --a:0deg; /*  needed for firefox to have a valid output */
  animation: 5s linear infinite grade;
  background: conic-gradient(from var(--a), green, white, green, white, green);
  background-attachment: fixed;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes grade {
  0% {
      --a:0deg;
  }

  25% {
      --a:45deg;
  }

  50% {
      --a:90deg;
  }

  75% {
      --a:135deg;
  }

  100% {
      --a:180deg;
  }
}
